<p-panel [header]="fieldData.formName " [toggleable]="true">
    <!-- <form [formGroup]="form"> -->
    <p-toolbar *ngIf="fieldData.description">
        <i class="pi pi-info-circle" style="font-size: large;
    vertical-align: middle;"></i> {{fieldData.description}}
    </p-toolbar>

    <div class="ui-g">
        <ng-container *ngFor="let i of fieldData.fields">

            <div class="ui-g-12 ui-lg-12" *ngIf="i.formName !== undefined">
                <app-panel [fields]="i" [form]="form.controls[fieldData.key]">
                </app-panel>
            </div>

            <!-- insert class here -->
            <div class="ui-g-12 ui-lg-12" *ngIf="i.subFormName !== undefined">
                <app-fieldset [fields]="i" [form]="form.controls[fieldData.key]">
                </app-fieldset>
            </div>



            <app-dynamic-form-right [fields]="i" [form]="form.controls[fieldData.key]"></app-dynamic-form-right>

        </ng-container>
    </div>
</p-panel>