<app-calendar [fields]="fieldData" *ngIf="fieldData.controlType === 'calendar'" [form]="form">
</app-calendar>
<app-chips [fields]="fieldData" *ngIf="fieldData.controlType === 'chips'" [form]="form">
</app-chips>
<app-input [fields]="fieldData" *ngIf="fieldData.controlType === 'input'" [form]="form">
</app-input>
<app-json-array [fields]="fieldData" *ngIf="fieldData.controlType === 'jsonarray'" [form]="form">
</app-json-array>
<app-json [fields]="fieldData" *ngIf="fieldData.controlType === 'json'" [form]="form">
</app-json>
<app-multi-select [fields]="fieldData" *ngIf="fieldData.controlType === 'multiselect'" [form]="form">
</app-multi-select>
<app-select [fields]="fieldData" *ngIf="fieldData.controlType === 'select'" [form]="form">
</app-select>
<app-slider [fields]="fieldData" *ngIf="fieldData.controlType === 'slider'" [form]="form">
</app-slider>
<app-toggle [fields]="fieldData" *ngIf="fieldData.controlType === 'toggle'" [form]="form">
</app-toggle>
<app-custom [fields]="fieldData" *ngIf="fieldData.controlType === 'custom'"></app-custom>